*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
nav{
    padding: 0px;
}
.container-fluid {
    display: grid;
    place-items: center;
    height: 100%;
    background-color: lightblue;
}
.navbar-brand{
    color: black;
    font-family: Arial;
    height: 65px;
    font-size: 2.5em;
    text-decoration: none;
    display: grid;
    place-items: center;
}
